@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Customer Service Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Create new product lines and add customers</h2>
    </div>
</div>
